{
  "ssl":{
    "ca"  : <your ca>,
    "key" : <your key>,
    "cert": <your cert>
  },
  "cwb": {
    "failTimeout":    60000,
    "successTimeout": 540000
  },
  "port":               <your port>,
  "channelSecret":      <your key>,
  "channelAccessToken": <your key>, 
  "devId":              <your userId>
} 
